.wrapper{
    width: 100%;
    height: 800px;
    background-color:darkgray;
    text-align-last: center;
    color: white;
}
.header{
    padding-top:100px;
    border-bottom: solid 3px white; 
}

.form{
    padding-top: 80px;
    color: white;
}

.name{
    padding-top: 100px;
}