.wrapper{
    width: 400px;
    height: 450px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.header{
    height: 100px;
    background-color: #141f40;
}

.side{
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
    float: left;
}

.content-right{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}

.content-left-upper{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    float: left;
}

.content-left-lower{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    float: left;
}

.content-bottom{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float: left;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    float: left;
}